/* 스꾸친 로고 (no_text) */
.download_logo,
.download_title {
  text-align: center;
  margin: 40px;
}

/* 제목 */
.download_title h3 {
  font-weight: 100;
  font-size: 20px;
  line-height: 40px;
}

/* 설명 */
/* .download_text {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10px;
}

.download_text p {
  font-size: 17px;
  font-weight: 400;
} */

/* 이메일 인증 버튼 */
.download_btn {
  text-align: center;
  width: 100%;
}

.download_btn2 {
  margin: 0 20px 20px;
}

.download_btn button {
  font-size: 18px;
  color: black;
  height: 54px;
  border-radius: 15px;
  border: none;
  background-color: white;
  width: 100%;
  cursor: pointer;
  border: 1px solid black;
}
