/* 전체 그리드 ios */
.noti {
  padding: 90px 20px calc(constant(safe-area-inset-bottom) + 20px);
  padding: 90px 20px calc(env(safe-area-inset-bottom) + 20px);
  font-size: 16px;
}

/* and */
/* .noti {
  padding: 70px 20px 20px;
  font-size: 16px;
} */

/* header 부분 ios */
.noti_header {
  top: 0;
  left: 20px;
  padding: 50px 0 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  right: 20px;
  background-color: white;
}

/* header 부분 and */
/* .noti_header {
  top: 0;
  left: 20px;
  padding: 30px 0 10px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  right: 20px;
  background-color: white;
} */

/* 개별 게시물 전체 틀 */
.noti_content_item {
  padding: 22px 0 20px 0;
  border-top: rgb(237, 237, 237) 1px solid;
  border-bottom: rgb(237, 237, 237) 1px solid;
  color: rgba(56, 56, 56);
}

.noti_item_text {
  display: flex;
}

.noti_item_new {
  font-size: 9px;
  color: #fff;
  margin-left: 7px;
  border-radius: 9px;
  background-color: rgb(253, 114, 62);
  border: 0;
  padding: 3px 7px 2px;
  height: 11px;
}

/*  개별 게시물 업로드 날짜 - date */
.noti_item_date {
  padding-top: 16px;
  font-size: 13px;
  color: rgba(56, 56, 56, 0.4);
}

.noti_content_text {
  font-size: 14px;
  line-height: 25px;
  white-space: pre-wrap;
  margin: 23px 0 50px;
}

.noti_bottom_img > img {
  height: 32px;
  width: 82px;
}

/* 활성 상태 */
.noti_button {
  position: fixed;
  bottom: 25px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  text-align: center;
}

.noti_button2 {
  height: 54px;
  border: 1px solid rgba(112, 112, 112, 0.58);
  border-radius: 15px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  color: rgb(48, 48, 48);
  cursor: pointer;
  width: 90%;
}
