/* 기본 틀 : 폰트,여백 설정 */
@font-face {
  src: url("./font/NanumSquareRoundOTFL.otf") format("truetype");
  font-family: "NN";
  font-weight: 100;
}
@font-face {
  src: url("./font/NanumSquareRoundOTFR.otf") format("truetype");
  font-family: "NN";
  font-weight: 400;
}
@font-face {
  src: url("./font/NanumSquareRoundOTFB.otf") format("truetype");
  font-family: "NN";
  font-weight: 700;
}
@font-face {
  src: url("./font/NanumSquareRoundOTFEB.otf") format("truetype");
  font-family: "NN";
  font-weight: 900;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

* {
  font-family: "NN";
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

/* a태그 (게시판 이동) 하이퍼링크 deco 제거 */
a {
  color: inherit;
  text-decoration: none;
}

textarea:focus,
input:focus,
select:focus,
option:focus,
button:focus {
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

/* 하단 네브바 navbar */
.bottom_navbar ul {
  background-color: #fff;
  padding: 0 0 calc(constant(safe-area-inset-bottom) + 0px);
  padding: 0 0 calc(env(safe-area-inset-bottom) + 0px);
  width: 100%;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  list-style-type: none;
  display: flex;
  border: 1px solid #e1e1e1;
  border-radius: 15px 15px 0 0;
  transform: translate3d(0, 0, 0);
}

.bottom_navbar > ul > li:nth-child(1) > a > img {
  padding: 10px 0 0 30px;
}
.bottom_navbar > ul > li:nth-child(2) > a > img {
  padding: 10px 0 0;
}
.bottom_navbar > ul > li:nth-child(3) > a > img {
  padding: 10px 10px 0;
}
.bottom_navbar > ul > li:nth-child(4) > a > img {
  padding: 10px 30px 0 0;
}

/*ios대응*/
/* input {
    appearance: none;
    -webkit-appearance: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  } */
